

body{
    background-color:#F8F8FF;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* header style */
#header-title{
    margin-top: 20px;
    font-size:60px;
    font-weight: 800;
    font-family: Georgia, serif;
}
/* error handle css */
#error{
    display: none;
}
#error2{
    display: none;
}
/* phone details style */
#show-phone .card {
   width: 350px;
}
#show-phone .card img{
    height: 450px;
}
