

bodey{
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

#header-title{
    margin-top: 20px;
    font-size:60px;
    font-weight: 800;
    font-family: Georgia, serif;
}
#error{
    color: rgb(226, 102, 102);
    display: none;
}



#show-phone{
    
}